@model IEnumerable<IdentityBlogApp.Web.Models.Tag>

@{
    ViewData["Title"] = "TagList";
}

<h1>TagList</h1>

<p>
    <a class="btn btn-success"  asp-action="AddTag">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
