@{
    ViewData["Title"] = "About";
}


<div class="row">
    <div class="col col-md-8 offset-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <img src="https://cdn.discordapp.com/attachments/990816789246124032/1089994784900399125/4ertan_BackGround_image_for_website_text_Vedium_f7301b65-27f4-4d66-a214-1aeb116b49cb.png" class="card-img" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title ">Ertan Osmanoğlu</h5>
                        <p class="card-text">
                            Merhaba, Medium tarzı blog sayfamda benim hakkımda bilgi almak isteyenler için kısaca kendimden bahsetmek istiyorum. Adım Ertan ve yazılarım genellikle teknoloji ve yazılım odaklıdır. 2022 yılında Mersin Üniversitesi'nden CTIS'nde lisans derecesi aldım.

                            Yazmayı seviyor ve blogumda yazılım ve teknoloji hakkında düşüncelerimi paylaşmayı seviyorum. Burada, yazılım ve teknoloji hakkındaki deneyimlerimi ve birikimlerimi sizlerle paylaşacağım. Umarım yazılarımdan keyif alırsınız!
                        </p>
                        <p class="card-text"><small class="text-muted">Ertan</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

