
@{
    ViewData["Title"] = "UserEdit";
}

@model UserEditViewModel
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <h2>Kullanıcı Bilgi Düzenleme</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>
        <form asp-controller="Member" asp-action="UserEdit" method="post" enctype="multipart/form-data">


            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="UserName"></label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control">
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="Phone"></label>
                <div class="col-md-8">
                    <input asp-for="Phone" class="form-control">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="BirthDate"></label>
                <div class="col-md-8">
                    <input asp-for="BirthDate" class="form-control">
                    <span class="text-danger" asp-validation-for="BirthDate"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="Gender"></label>
                <div class="col-md-8">
                    <select class="form-control" asp-for="Gender" asp-items="ViewBag.genderList">
                        <option value="">Cinsiyet Seçiniz</option>
                    </select>
                    
                    <span class="text-danger" asp-validation-for="Gender"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="Picture"></label>
                <div class="col-md-8">
                    <input asp-for="Picture" class="form-control" type="file">
                    <span class="text-danger" asp-validation-for="Picture"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-4 ">Güncelle</button>
        </form>

    </div>
</div>